/* this is all made by tropical I am just saving it here cuz why not */


.sidebar-2K8pFh {
	position: absolute;
	height: calc(100vh - var(--toolbar-height) - var(--titlebar-height));
	z-index: 100;
}

.sidebar-2K8pFh .container-PNkimc,
.sidebar-2K8pFh,
.sidebar-2K8pFh .privateChannels-1nO12o {
	width: 0 !important;
	background: transparent !important;
}

.sidebar-2K8pFh .channelNotice-1-XFjC,
.sidebar-2K8pFh .panels-j1Uci_,
.sidebar-2K8pFh [class^="scroller"] {
	display: none;
}

.container-1r6BKw {
	padding-left: var(--sidebar-width) !important;
}

#app-mount .sidebar-2K8pFh .header-2o-2hj {
	min-width: calc(var(--sidebar-width) + var(--noasw-base));
}

.guilds-1SWlCJ:hover+.base-3dtUhz .container-PNkimc,
.guilds-1SWlCJ:hover+.base-3dtUhz .privateChannels-1nO12o,
.guilds-1SWlCJ:hover+.base-3dtUhz .sidebar-2K8pFh,
.sidebar-2K8pFh:hover .container-PNkimc,
.sidebar-2K8pFh:hover .privateChannels-1nO12o,
.sidebar-2K8pFh:hover {
	width: var(--sidebar-width) !important;
	background: var(--background) !important;
}

.sidebar-2K8pFh::after {
	content: '';
	position: absolute;
	right: 0;
	background: red;
	top: 0;
	z-index: -1;
	width: calc(100% - 24px);
	height: 100%;
	box-shadow: var(--elevation-1);
	pointer-events: none;
}

.guilds-1SWlCJ:hover+.base-3dtUhz .sidebar-2K8pFh .channelNotice-1-XFjC,
.guilds-1SWlCJ:hover+.base-3dtUhz .sidebar-2K8pFh .panels-j1Uci_,
.guilds-1SWlCJ:hover+.base-3dtUhz .sidebar-2K8pFh [class^="scroller"],
.sidebar-2K8pFh:hover .channelNotice-1-XFjC,
.sidebar-2K8pFh:hover .panels-j1Uci_,
.sidebar-2K8pFh:hover [class^="scroller"] {
	display: block;
}

#app-mount .form-2fGMdU {
	padding-left: calc(var(--spacing) * 1.5);
}

#app-mount .panels-j1Uci_ > .container-3baos1 .avatarWrapper-2yR4wp {
    position:relative;
    left:0;
    margin:0;
    margin-right:var(--spacing);
}